.hide {
    display: none;
}

#center_div{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}

main form{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

main div{
    margin-top: 25px;
}

form div{
    width: 100%;
}

@media (min-width: 501px) {
    #center_div{
        width: 300px;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-self: center;
        margin: 50px;
    }
}